/* GENERAL */
html,
body {
  background-color: #121212;
}
.general {
  background-color: #121212;
}

.playlists-container {
  display: flex;
  height: 700px;
}
/* SIDEBAR */
.sidebar {
  width: 25%;
  background-color: #121212;
  color: white;
  border: 2px solid black;
  overflow-y: auto;
  margin: 0 20px 0 20px;
}
.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.details-container details {
  flex: 1;
  margin-right: 10px;
}

.details-container details:last-child {
  margin-right: 0;
}

.details-container summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.content {
  width: 75%;
  background-color: #121212;
  border-radius: 0 0 25px 0;
  overflow-y: auto;
}

.listas {
  display: flex;
  flex-direction: column;
}

.btnPlist {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 20px 0 0 25px;
  margin-top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnPlist:hover {
  background-color: #121212;
}

.playlist-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}
.imagenCancion {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.btnPlist span {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.canciones {
  height: 100%;
}

.infoLista {
  background-color: #00d856;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.imgLista {
  height: 75px;
  width: 75px;
  object-fit: cover;
  box-shadow: 0px 0px 10px black;
  margin-right: 20px;
}

.nombrePlaylist {
  font-family: SpotyExtra;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px #005321;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.divTablaCanciones {
  height: calc(100% - 100px);
  overflow-y: auto;
}

.tablaCanciones {
  width: 100%;
  color: white;
}

/* ... rest of your existing styles ... */

@media (max-width: 768px) {
  .playlists-container {
    flex-direction: column;
  }

  .sidebar,
  .content {
    width: 100%;
    height: 50%;
  }

  .sidebar {
    border-radius: 0;
  }

  .content {
    border-radius: 0;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.playlists-list {
  display: flex;
  flex-direction: column;
}
