/* GENERAL */
html,
body {
  background-color: #121212;
}
.general {
  background-color: #121212;
  font-size: 13px;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
}
/* sidebar */
.sidebar {
  flex-grow: 1;
  background-color: var(--accent-inactive);
  color: var(--text);
  border: 2px solid var(--border-inactive);
  overflow-y: auto;
  transition: border-color 0.3s ease;
  margin: 15px -11px 77px 20px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: -5px 20px 20px 20px;
}

.sidebar:hover {
  border-color: var(--border-active);
}

.sidebar:hover .text-decoration-playlist {
  color: var(--accent);
}
.categories-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: var(--main);
  z-index: 99;
}

.category-button {
  color: white;
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button:hover,
.category-button.active {
  background-color: var(--background-all);
}

.category-button .icon {
  margin-right: 10px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 0 25px;
  /* border-bottom: 1px solid var(--border-inactive); */
}

.details-container details {
  flex: 1;
  margin-right: 10px;
}

.details-container details:last-child {
  margin-right: 0;
}

.details-container summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: var(--text);
}

.listas {
  display: flex;
  flex-direction: column;
  background-color: var(--main);
}

.btnPlist {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 10px 15px 5px 15px;
  margin-top: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnPlist span {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.btnPlist:hover {
  background-color: #121212;
}

.playlists-container {
  display: flex;
  height: calc(91vh - 60px);
  width: 95%;
}
.playlists-list {
  overflow-y: auto;
  max-height: calc(65vh - 197px);
}

.playlist-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}
.text-decoration-playlist {
  position: absolute;
  top: 34%;
  background-color: var(--main);
  margin: 0 0 0 4px;
  z-index: 999999999;
}

@ia (max-width: 768px) {
  .playlists-container {
    flex-direction: column;
  }

  .sidebar,
  .content {
    width: 100%;
    height: 50%;
  }

  .sidebar {
    border-radius: 0;
  }

  .content {
    border-radius: 0;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.playlists-list {
  display: flex;
  flex-direction: column;
}

.playlists-list button {
  color: var(--subtext);
  background-color: var(--accent-inactive);
}

.playlists-list button:hover {
  background-color: var(--highlight);
}

.playlists-list button.active {
  color: var(--text);
  background-color: var(--accent-active);
}
