@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

:root {
  --accent: #e5b9c6;
  --accent-active: #e5b9c6;
  --accent-inactive: #121212;
  --banner: #e5b9c6;
  --border-active: #e5b9c6;
  --border-inactive: #535353;
  --header: #535353;
  --highlight: #1a1a1a;
  --main: #121212;
  --notification: #4687d6;
  --notification-error: #e22134;
  --subtext: #b3b3b3;
  --text: #ffffff;
}

/* GENERAL */
html,
body {
  background-color: #121212;
}
.general {
  background-color: #121212;
}

/* Pages  */
.pages {
  width: 96%;
  background-color: var(--accent-inactive);
  color: var(--text);
  border: 2px solid var(--border-inactive);
  margin: 20px 20px 0 20px;
  transition: border-color 0.3s ease;
}

.pages:hover {
  border-color: var(--border-active);
}

.pages nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pages nav ul li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pages nav ul li:hover {
  background-color: var(--highlight);
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
}
/* sidebar */
.sidebar {
  flex-grow: 1;
  background-color: var(--accent-inactive);
  color: var(--text);
  border: 2px solid var(--border-inactive);
  overflow-y: auto;
  transition: border-color 0.3s ease;
  margin: 20px -1px 0px 20px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 20px 20px 20px 20px;
}

.sidebar:hover {
  border-color: var(--border-active);
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 0 25px;
  /* border-bottom: 1px solid var(--border-inactive); */
}

.details-container details {
  flex: 1;
  margin-right: 10px;
}

.details-container details:last-child {
  margin-right: 0;
}

.details-container summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: var(--text);
}

.content {
  width: 75%;
  background-color: #121212;
  border-radius: 0 0 25px 0;
  overflow-y: auto;
}

.listas {
  display: flex;
  flex-direction: column;
  background-color: var(--main);
}

.btnPlist {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 15px 0 15px 25px;
  margin-top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnPlist span {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.btnPlist:hover {
  background-color: #121212;
}

.playlists-container {
  display: flex;
  height: calc(100vh - 60px);
}
.playlist-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}
.imagenCancion {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.canciones {
  height: 100%;
}

.infoLista {
  background-color: #00d856;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.imgLista {
  height: 75px;
  width: 75px;
  object-fit: cover;
  box-shadow: 0px 0px 10px black;
  margin-right: 20px;
}

.nombrePlaylist {
  font-family: SpotyExtra;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px #005321;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.divTablaCanciones {
  height: calc(100% - 100px);
  overflow-y: auto;
}

.tablaCanciones {
  width: 100%;
  color: white;
}

@ia (max-width: 768px) {
  .playlists-container {
    flex-direction: column;
  }

  .sidebar,
  .content {
    width: 100%;
    height: 50%;
  }

  .sidebar {
    border-radius: 0;
  }

  .content {
    border-radius: 0;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.playlists-list {
  display: flex;
  flex-direction: column;
}

.playlists-list button {
  color: var(--subtext);
  background-color: var(--accent-inactive);
}

.playlists-list button:hover {
  background-color: var(--highlight);
}

.playlists-list button.active {
  color: var(--text);
  background-color: var(--accent-active);
}
