.buddy-list {
  width: 135%;
  height: 82%;
  border: 2px solid var(--border-inactive);
  margin: 17px 0px 0px -3px;
  padding: 11px 0px;
  min-height: 400px;
  overflow-y: hidden;
}
.buddy-list:hover {
  border-color: var(--border-active);
}
.buddy-list h2 {
  color: var(--text-active);
  margin-bottom: 15px;
  margin-left: 8px;
}

.buddy-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: calc(100% - 50px);
}

.buddy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px 5px;
  padding: 6px 5px;
  height: 85px;
  min-height: 70px;
  box-sizing: border-box;
  overflow: hidden;
}
.buddy:hover {
  background-color: var(--highlight);
}

.buddy.online .buddy-status {
  color: var(--accent);
}

.buddy.offline .buddy-status {
  color: #b3b3b3;
}
.buddy.offline {
  height: 70px;
}

.buddy-name {
  color: var(--text);
}

.buddy-track {
  font-size: 0.9em;
  color: #b3b3b3;
  min-width: 163px;
  max-width: 220px;
  width: 100%;
}
.text-decoration-buddylist {
  position: absolute;
  color: white;
  background-color: var(--main);
  margin: 7px 0 0 -5px;
  top: 11%;
}
