.general {
  background-color: #121212;
}
.text-decoration-header {
  position: absolute;
  top: 1.5%;
  color: white;
  margin: 3px 0 0 4px;
  background-color: var(--main);
  font-size: 13px;
}

#suppBar {
  border: 2px solid #535353;
  width: 96%;
  height: 70px;
  margin: 25px 0px 0px 40px;
  padding-right: 2px;
}
#suppBar:hover {
  border: 2px solid var(--border-active);
}

#suppBar:hover .text-decoration-header {
  color: var(--accent);
}

.logOut {
  float: left;
  margin: auto;
  padding-top: 20px;
  padding-left: 15px;
}
.logOutTexto {
  float: left;
  text-align: left;
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
}
.logOutIcono {
  float: left;
  color: white;
}
.datosUsu {
  float: right;
  width: 70%;
  height: 100%;
}
.imagenPerfil {
  margin-top: 10px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  float: right;
}
.nombreUsu {
  float: right;
  color: white;
  margin-right: 10px;
  margin-top: 25px;
  font-size: 13px;
  font-weight: 500;
}

/* #followers{
  background-color: rgb(156, 156, 156);
  width: 15%;
  height: 50px;
  left: 75%;
  position: absolute;
  border-radius: 25px;
  text-align: left;
  margin-top: 5px;
  
}
#followerText{
  color: black;
  padding-left: 15px;
  margin-top: 15px;
} */

@media (max-width: 768px) {
  .BodyNav {
    margin-left: 16px;
    margin-right: 16px;
  }
  .logOut {
    width: 15%;
  }
  .datosUsu {
    width: 85%;
  }
  .nombreUsu {
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 0px;

    width: 75%;
  }
  .logOutTexto {
    visibility: hidden;
  }
  .imagenPerfil {
    margin-right: 0px;
  }
}

/* @media screen and (min-width: 1025px) {
  .text-decoration-header {
    top: 1.2%;
  }
} */
