@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

.imagenCancion {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.canciones {
  height: 100%;
}

.infoLista {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  padding: 0 20px;
}

.imgLista {
  height: 75px;
  width: 75px;
  object-fit: cover;
  box-shadow: 0px 0px 10px black;
  margin-right: 20px;
}

.nombrePlaylist {
  font-family: SpotyExtra;
  font-size: 40px;
  color: black;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  padding: 5px 5px 10px 15px;
}
.infoCanciones {
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.1);
}

.divTablaCanciones {
  height: calc(100% - 100px);
  overflow-y: auto;
}

.tablaCanciones {
  width: 100%;
  color: white;
  margin: 20px 0 0 20px;
}
.content {
  width: 71%;
  background-color: var(--accent-inactive);
  color: var(--text);
  border: 2px solid var(--border-inactive);
  margin: 40px 0px 20px 0px;
  transition: border-color 0.3s ease;
}

.content:hover {
  border-color: var(--border-active);
}
