@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

.imagenCancion {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.canciones {
  height: 100%;
}

.infoLista {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.imgLista {
  height: 75px;
  width: 75px;
  object-fit: cover;
  box-shadow: 0px 0px 10px black;
  margin-right: 20px;
}

.nombrePlaylist {
  font-size: 40px;
  color: black;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infoCanciones {
  letter-spacing: 2px;
  color: #535353;
  text-align: left;
}
.separadorInfoCanciones {
  width: 1870%;
  margin: 10px 0 15px 5px;
  border: none;
  height: 1px;
  background-color: #535353;
}

.nombreCancion {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -275px 0 0;
}
.nombreCancion:hover {
  color: var(--text-active);
}
.artistaCancion:hover {
  color: var(--text-active);
}
.albumCancion:hover {
  color: var(--text-active);
}
.duracionCancion:hover {
  color: var(--text-active);
}

.nombreEspecialAlbum,
.nombreEspecial {
  max-width: 200px;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.divTablaCanciones {
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.tablaCanciones {
  width: 100%;
  color: white;
  margin: 20px 0 0 20px;
  border-collapse: separate;
  border-spacing: 0 5px;
  table-layout: fixed;
}

.tablaCanciones th,
.tablaCanciones td {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.numeroCancion {
  width: 5%;
}

.titulo-artista-container {
  width: 60%;
  display: flex;
  align-items: center;
}

.nombreCancion {
  display: flex;
  align-items: center;
  width: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: -145px;
}

.artistaCancion {
  flex-grow: 1;
  padding-left: 0;
}

.albumCancion {
  width: 25%;
}

.duracionCancion {
  width: 10%;
  text-align: right;
}

.nombreEspecial {
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nombreEspecialArtista {
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imagenCancion {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.content {
  width: 71%;
  background-color: var(--accent-inactive);
  color: var(--text);
  border: 2px solid var(--border-inactive);
  margin: 15px 0px 95px 0px;
  transition: border-color 0.3s ease;
}

.content:hover {
  border-color: var(--border-active);
}

.nombreEspecial,
.nombreEspecialArtista,
.nombreEspecialAlbum {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
