body {
  background-color: rgb(36, 36, 36);
  background-color: rgb(61, 61, 61);
}

#login {
  background-color: rgb(36, 36, 36);
  text-align: center;
}
.subtitle {
  color: rgb(156, 156, 156);
  padding-bottom: 50px;
}
.btnLogin {
  background-color: #00d856;
  box-shadow: 0px 0px 20px #62ffa1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  border: 0px black;
}
#imgLogo {
  padding-top: 40px;
  padding-bottom: 10px;
  width: 70%;
}
#login {
  background-color: #121212;
  margin-top: 40px;
  padding-bottom: 40px;
  border: 1px solid var(--border-inactive);
  margin-left: 35%;
  margin-right: 35%;
}
